<footer class="footer">
    <div class="footer-content">
        {{#if config.footer.text}}<p>{{config.footer.text}}</p>{{/if}}
        {{#if config.footer.links}}
        <div class="footer-links">
            {{#each config.footer.links}}
            <a href="{{url}}">{{title}}</a>
            {{/each}}
        </div>
        {{/if}}
        {{#if config.footer.copyright}}
        <div class="copyright">{{config.footer.copyright}}</div>
        {{/if}}
        <div class="build-info">
            Built with <a href="https://github.com/neuxdotdev/rawssg">RawSSG</a> 
            at {{build_time}}
        </div>
    </div>
</footer>