<nav class="sidebar">
	<div class="sidebar-header">
		<h2><a href="/">{{config.title}}</a></h2>
		<button class="sidebar-toggle" aria-label="Toggle menu">
			<i class="fa-solid fa-bars"></i>
		</button>
	</div>

	<div class="sidebar-scroll">
		<ul class="sidebar-menu">
			{{#each config.nav}}
			<li>
				<a
					href="{{url}}"
					class="sidebar-link {{#if (eq url ../current_url)}}active{{/if}}"
				>
					{{title}}
				</a>

				{{#if items}}
				<ul class="sidebar-submenu">
					{{#each items}}
					<li>
						<a
							href="{{url}}"
							class="sidebar-link {{#if (eq url ../../current_url)}}active{{/if}}"
						>
							{{title}}
						</a>
					</li>
					{{/each}}
				</ul>
				{{/if}}
			</li>
			{{/each}}
		</ul>
	</div>
</nav>
